body {
    font-family: 'roboto', Courier, monospace;
}

/*HEADER*/
header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 140px;
    gap: 100px;
}


.top-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 320px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    gap: 50px;
    
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


.bottom-header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    margin-left: 50px;
}

.bottom-text > h2 {
    padding: 0px;
    margin: 0px;
    width: 400px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.bottom-text > p {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: #e5e7eb;
    width: 470px;
}

.bottom-text > button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
}

.image-container {
    width: 550px;
    height: 230px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: rgb(123, 131, 149);
}

/*HEADER*/
/*INFO - START*/
.info {
    margin-top: 40px;
    padding-bottom: 100px;
}

.info > h2 {
    
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 50px;
}

.image-cards {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.card > div {
    border: 4px solid #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.card > p {
    color: #80868e;
    font-weight: bold;
    text-align: center;
    width: 150px;
    margin-top: 7px;
}
/*INFO - END*/

.quote {
    background-color: #e5e7eb;
}


header,
footer {
    background-color: #1F2937;
}