header {
    display: flex;
    justify-content: space-around;
}

.right-header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.bottom-text > p {
    width: 300px;
}

.left-header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.image-container {
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}